 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap'); 
body {
    background-color: #1E1E1E;
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}